<% if room.public == true %>
	<%= link_to room_path(room, :anchor => 'bottomGO') ,data: {"data-turbolinks" => false} do %>
	
		<div class="roomBox">
			<h1><%= room.title %></h1>
			<div class="room-body-box">
				<p class="body-rooms"><%= room.body %></p>
			</div>
		</div>
	<% end %>
<% end %>