	<div class="form_area_current">
		<%= form_with model: current_user, local: true do |f| %>
			<%= f.text_field :name, id: "user_name_form" %><br>
			<%= f.text_area :profile, id: "user_profile_form" %><br>
			<div class="submit_area">
				<%= f.submit "送信",id: "submit_user" %>
			</div>
		<% end %> 
	</div>
