<div class="roomusermanager_all_box">
	<div class="room-catagoles-box">
		<h1 class="roomuser">Roomに入ってるユーザー 一覧</h1>
		<p class="room_usermanagers_count_text">
			<%= @room.usermanagers.count %>人
		</p>
	</div>
	<div class="usermanager_list_all_box">
		<% @users.each do |user| %>

			<% @managers.each do |manager| %>
					<% if user.id == manager.user_id %>
						<% if @room.id == manager.room_id %>
							<div class="room-manager-user-box">
								<%= link_to room_usermanager_path(@room, manager.id), class: "room_user_a" do %>
									<div class="usermanager-box">
										<h3 class="link_name_usermanager"><%= user.name %></h3>
									</div>
								<% end %>
							</div>
						<% end %>
					<% end %>
			<% end %>
		<% end %>
		<% @managers.each do |manager| %>
			<% unless manager.login %>
				<% if @room.id == manager.room_id %>
					<div class="room-manager-user-box">
						<%= link_to room_usermanager_path(@room, manager.id), class: "room_user_a" do %>
							<div class="usermanager-box">
								<h3 class="link_name_usermanager">名無し</h3>
							</div>
						<% end %>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<style>

</style>