<div class="box-error-flex">
<div class="404box error-box">
	<h1 class="not_found_page">ページが見つかりませんでした。</h1>
	<h3 class="errorCodeParameter">404Error</h3>
	<p class="sorry_page_is_not_found">申し訳ございません　ページが見つかりませんでした。</p>
	<h5 class="used-to-think-that">以下の原因が考えられます。</h5>
	<li class="link-mistake">リンクが間違っている。</li>
	<li class="link-is-null">リンク事態が存在しない。</li>
</div>