<% if @rooms.present? %>
	<h1 class="publicitiranText">公開Room一覧</h1>
	<div class="roomsBox">
		<% @rooms.each do |room| %>
			<div class="roomAtagBox">
				<%= link_to room_path(room, :anchor => 'bottomGO') do %>
					<div class="roomBox">

						<h1><%= room.title.truncate(10) %></h1>
						<div class="room-body-box">
							<% if room.body.present? %>
								<p class="body-rooms">
									<%= room.body.truncate(100) %>
								</p>
							<% end %>
						</div>
						<p class="room_created_at_text">
							<%= room.created_at.strftime("%Y-%m-%d %H:%M") %>		
						</p>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
<% else %>
	<h1 class="publicitiranText">ルームが見つかりませんでした。</h1>
<% end %>
<style>
	a{
		text-decoration: none; 
	}
</style>
