<div class="flex-box-display password-design">
	<h2 class="password-edit-text">パスワードを編集</h2>
	<%= image_tag "鍵のオープンアイコン素材.png", class: "rock-edit-icon" %>
</div>
<div class="password-form-rooms-box">
	<%= form_with model: @room, local: true, url: room_password_update_path(@room), method: :put  do |f| %>
		<div class="password-form-all-box">
			<%= f.text_field :password, placeholder: "パスワードを入力", class: "password_form_area" %><br>
			<%= f.submit "パスワード設定", class: "password-submit" %>
		</div>
	<% end %>
</div>