// Place all the styles related to the message_replies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.delete_btn_reply{
	    background-color: #FF2300;
    border-style: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #555454;
    color: #fff;
    margin-top: 7px;
    margin-left: 20px;
    outline: none;
}
.reply-message-on{
    border-style: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #555454;
    margin-top: 7px;
    margin-left: 15px;
    outline: none;
}
.against-message-show-box{
	color: #fff;
	justify-content: center;
	padding-bottom: 20px;
	font-size: 15px;
	display: flex;
}
.reply-message-on:hover{
	background-color: #ddd;
}
.message-against-show-user-name{
	    color: #32cd32;
    font-size: 15px;
}
.formchat-reply{
	padding-left: 20px;
}