// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.delete_btn{
	background-color: #FF2300;
	border-style: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #555454;
	color: #fff;
	margin-top: 7px;
	margin-left: 20px;
	outline: none;
}
.delete_btn:hover{
	background-color:#FF725C;
	transition: 0.2s background-color ease;
}
.edit_submit:hover{
    transition: 0.3s background-color ease;
    background-color: #009BEF;
  
}
.edit_submit{
	
}
.deleteBtnImage{

}
.usettimeAndDeleteBox{
	display: flex;
}

.finished_editing{
	margin-left: 20px;
	color: #dddddd;
	font-size: 13px;
}