// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.delete_btn{
	background-color: #FF2300;
	border-style: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #555454;
	color: #fff;
	margin-top: 7px;
	margin-left: 20px;
	outline: none;
}
.delete_btn:hover{
	background-color:#F30000;
}
.edit_submit:hover{
    transition: 0.3s background-color ease;
    /*background-color: #F50101;*/
  
}
.edit_click:hover{
	background-color: #ddd;
}
.edit_click{
	outline: none;
}
.edit_submit{
	outline: none;
    border-style: none;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 10px;
    outline: none;
    border-style: none;
    font-weight: bold;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "游ゴシック", sans-serif;
    background-color: #117ec6;
    box-shadow: 1px 1px 2px #000;
}
.edit_submit:hover{
	background-color: #106dab;
}
.deleteBtnImage{

}
.usettimeAndDeleteBox{
	display: flex;
}

.finished_editing{
	margin-left: 20px;
	color: #dddddd;
	font-size: 13px;
}